//同时设置行高和高度
.lineh(@h){ height:@h; line-height: @h; }
.line_height(@h){.lineh(@h)};
.line-height(@h){.lineh(@h)};

//设置补间间隔
.dura(@time:330ms){ transition-duration:@time; }

//透明度调整
._alpha(@val:80){ opacity: @val * 0.01; filter: alpha(opacity=@val); }


//正常和鼠标划过颜色变化 通过颜色设置
.hover_cl(@color:#ccc, @color_hover:#fff) when(iscolor(@color_hover)){
	color: @color;
	&:hover{color: @color_hover;}
}

//正常和鼠标划过颜色变化 通过亮度设置
.hover_cl(@color:#ccc, @lighten:12%) when not(iscolor(@lighten)){
	color: @color;
	&:hover{color: lighten(@color,@lighten);}
}

//正常和鼠标划过颜色变化 通过颜色设置
.hover_bg(@color:#ccc, @color_hover:#fff) when(iscolor(@color_hover)){
	background-color: @color;
	&:hover{background-color: @color_hover;}
}

//正常和鼠标划过颜色变化 通过亮度设置
.hover_bg(@color:#ccc, @lighten:12%) when not(iscolor(@lighten)){
	background-color: @color;
	&:hover{background-color:lighten(@color,@lighten); }
}


//横向padding
.padding_h(@value:auto){padding-left: @value; padding-right: @value;}
//纵向padding
.padding_v(@value:auto){padding-top: @value; padding-bottom: @value;}
//横向margin
.margin_h(@value:auto){margin-left: @value; margin-right: @value;}
//纵向margin
.margin_v(@value:auto){margin-top: @value; margin-bottom: @value;}


//block尺寸，同时设置长宽
._size(@width:auto, @height:auto) when not(@height = auto){ width: @width; height:@height;}
._size(@width:auto, @height:auto) when(@height = auto){ width: @width; height:@width;}


._icon(){background-repeat: no-repeat; background-position: 50% 50%;}

//发光效果
._glow(@color:#fff, @blur:15px){
	box-shadow: @color 0 0 @blur;
}




//-------------------------------------------------工具
.noSelect(){
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

//重置ul li
.planeUl(){ list-style: none; li{ margin: 0;} }

//使inline-blcok（并兼容旧版浏览器）
.iblock(){display: inline-block; &{ *display: inline;}; vertical-align: top;}

//左右上下居中。 通过left margin-left top margin-top结合
.hv_center(@w;@h;@pos){
	top: 50%; left: 50%; margin-top: -0.5*@h; margin-left: -0.5*@w; position: @pos;
}

.hv_center(@w;@h){
	top: 50%; left: 50%; margin-top: -0.5*@h; margin-left: -0.5*@w;
}

//居中
.center(){margin-left: auto; margin-right: auto;}

//雅黑字体
.yahei(){ font-family: "微软雅黑" "黑体" "新宋体"; }

//字符串截取
.txcut(){ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

//铺满到容器（一般用户fiex或者absolute定位）
.expandin(){ width:100%; height:100%; top:0; left:0; }

//kill gap;适用于消除inline-block元素之间的的间距，请设置于inline
.font_resize(@size:12px){ font-size: 0; >*{font-size: @size;} }

//工具class //请在需要引入的地方写 .toolClass;
.toolClass(){
	.clear{font-size: 0; height: 0; width: 0; clear: both;}
	.center{.center();}
	.txcut{.txcut();}
	.inblock, .iblock, .div_inline_block{ .iblock(); }
	.planeUl{ .planeUl(); }
	.noSelect{.noSelect();}
	.yahei{.yahei();}
	.expandin{.expandin();}
}

//transform缩写形式
.tsform(@val){
	-webkit-transform:@val;
	-ms-transform:@val;
	transform:@val;
}


//reset;
.reset(){
	html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
	img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
	tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
	summary,time, mark, audio, video {
		margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;
	}

	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
	body {line-height: 1; font-size: 12px;}
	ol, ul{ list-style: none; }
	blockquote, q {quotes: none;}
	blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
}





