//向全局对象注入对象或者变量
@__inject:`(function(){
	var top = this;
	var temp_top;
	top.bindvar = function(key,value){
		temp_top = top;
		var arr = key.split(".");
		var le = arr.length;
		arr.map(function(subkey,i){

			if(i==le-1){
				temp_top[subkey] = value;
			}
			if(!temp_top[subkey]){
				temp_top = temp_top[subkey] = {};
			}
		});
	}


	//更换某个变量的数值
	top.changeValue = function(mixin,valueName,newValue){
		mixin[valueName].value.value[0].value=newValue;
	}
})()`;

//同时设置行高和高度
.lineh(@h){ height:@h; line-height: @h; }
.lineh(@lh,@h){ height:@h; line-height: @lh; }
.line_height(@h){.lineh(@h)};
.line-height(@h){.lineh(@h)};

//设置补间间隔
.dura(@time:330ms){ transition-duration:@time; }

//透明度调整
._alpha(@val:80){ opacity: @val * 0.01; filter: alpha(opacity=@val); }


//正常和鼠标划过颜色变化 通过颜色设置
.hover_cl(@color:#ccc, @color_hover:#fff) when(iscolor(@color_hover)){
	color: @color;
	&:hover{color: @color_hover;}
}

//正常和鼠标划过颜色变化 通过亮度设置
.hover_cl(@color:#ccc, @lighten:12%) when not(iscolor(@lighten)){
	color: @color;
	&:hover{color: lighten(@color,@lighten);}
}

//正常和鼠标划过颜色变化 通过颜色设置
.hover_bg(@color:#ccc, @color_hover:#fff) when(iscolor(@color_hover)){
	background-color: @color;
	&:hover{background-color: @color_hover;}
}

//正常和鼠标划过颜色变化 通过亮度设置
.hover_bg(@color:#ccc, @lighten:12%) when not(iscolor(@lighten)){
	background-color: @color;
	&:hover{background-color:lighten(@color,@lighten); }
}


//横向padding
.padding_h(@value:auto){padding-left: @value; padding-right: @value;}
//纵向padding
.padding_v(@value:auto){padding-top: @value; padding-bottom: @value;}
//横向margin
.margin_h(@value:auto){margin-left: @value; margin-right: @value;}
//纵向margin
.margin_v(@value:auto){margin-top: @value; margin-bottom: @value;}


//block尺寸，同时设置长宽
._size(@size){._size(@size,@size)}
._size(@width,@height){ width: @width; height:@height; }




//发光效果
._glow(@color:#fff, @blur:15px){
	box-shadow: @color 0 0 @blur;
}




//-------------------------------------------------工具
.noSelect(){
	-moz-user-select: none; /*火狐*/
	-webkit-user-select: none;  /*webkit浏览器*/
	-ms-user-select: none;   /*IE10*/
	-khtml-user-select: none; /*早期浏览器*/
	user-select: none;
}

//重置ul li
.planeUl(){ list-style: none; li{ margin: 0;} }

//使inline-blcok（并兼容旧版浏览器）
.iblock(){
	display: inline-block;  vertical-align: top;
	*zoom:1; *display: inline;//ie
}

//左右上下居中。 通过left margin-left top margin-top结合
.hv_center(@w;@h;@pos){
	top: 50%; left: 50%; margin-top: -0.5*@h; margin-left: -0.5*@w; position: @pos;
}

.hv_center(@w;@h){
	top: 50%; left: 50%; margin-top: -0.5*@h; margin-left: -0.5*@w;
}

.vcenter(@h,@vOffset:0px){
	top: 50%; position: absolute; margin-top: -@h/2 + @vOffset;
}

.hcenter(@w,@hOffset:0px){
	left: 50%; position: absolute; margin-left: -@w/2 + @hOffset;
};

//居中
.center(){margin-left: auto; margin-right: auto;}

//雅黑字体
.yahei(){ font-family: "微软雅黑" "黑体" "新宋体"; }

//字符串截取
.txcut(){ overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

//铺满到容器（一般用户fiex或者absolute定位）
.expandin(){ width:100%; height:100%; top:0; left:0; }
.expandin(@pos){position:@pos; .expandin(); }

//kill gap;适用于消除inline-block元素之间的的间距，请设置于inline
.font_resize(@size:12px){ font-size: 0; >*{font-size: @size;} }

//工具class //请在需要引入的地方写 .toolClass;
.toolClass(){
	.clear{font-size: 0; height: 0; width: 0; clear: both;}
	.center{.center();}
	.txcut{.txcut();}
	.planeUl{ .planeUl(); }
	.noSelect{.noSelect();}
	.yahei{.yahei();}
	.expandin{.expandin();}
	.icon12{._icon(12px)}
	.icon16{._icon(16px)}
	.icon24{._icon(24px)}
	.icon36{._icon(36px)}
	.v_hidden{.v_hidden();}
}

.inblock, .iblock, .div_inline_block{ .iblock(); }


//transform缩写形式
.tsform(@val){
	-webkit-transform+_:@val; -ms-transform+_:@val; transform+_:@val;
}



//缩放，参数2表示其他属性配置
.ts_scale(@scaleVal:1, @val:""){
	.tsform(~"scaleX(@{scaleVal}) scaleY(@{scaleVal}) @{val}");
}


//旋转 @ang支持rad,deg单位
.ts_rotate(@ang){
	@deg:convert(@ang,"deg");
	.tsform(rotate(@deg));
}

//兼容ie的旋转（ie必须设置尺寸，不然无法绕中心旋转）
.ts_rotate(@ang,@width,@height){
	.ts_rotate(@ang);
	.ieRotate(unit(convert(@ang,"deg")),@width,@height);
}

//兼容ie并且同时设置尺寸
.ts_rotate(@ang,@size){
	.ts_rotate(@ang,@size,@size);
}


//reset;
.reset(){
	html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em,
	img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
	tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
	summary,time, mark, audio, video {
		margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;
	}

	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block;}
	body {line-height: 1; font-size: 12px;}
	ol, ul{ list-style: none; }
	blockquote, q {quotes: none;}
	blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

	i{font-style: normal;}
}


//默认变量
@cell:12px;
@fsize:12px;


//ie旋转
//@ang只支持deg
.ieRotate(@ang,@width,@height){
	@deg:pi()*2 - unit(convert(unit(@ang,deg),"rad"));          //ie角度正好和w3c旋转相反
	@sin:sin(@deg);
	@cos:cos(@deg);
	@fsin:-@sin;
	@fcos:-@cos;

	@w:unit(@width);
	@h:unit(@height);
	@dx:-@w/2*@cos+@h/2*@sin+@w/2;
	@dy:-@w/2*@sin - @h/2*@cos+@h/2;

	filter:progid:DXImageTransform.Microsoft.Matrix(Dx=@dx, Dy=@dy,M11=@cos,M12=@sin,M21=@fsin,M22=@cos,sizingMethod="auto expand");
	//width: @width;
	//height: @height;
}

//ie 的旋转
.ieRotate(@ang,@size){
	.ieRotate(@ang, @size, @size);
}



//形成三角
.triangle(@size,@dir:left,@color:#08c,@blankColor:transparent){
	border: @size solid @blankColor; border-@{dir}-width: 0; ._size(0); font-size: 0; line-height: 0; &:extend(.iblock); vertical-align: middle;

	@rev_dir:~`(function(){
		var dir = ({left:"right", top:"bottom", right:"left", bottom:"top"})["@{dir}"];
		return dir || "left";
	})()`;

	border-@{rev_dir}-color:@color;
}

//形成斜三角(45整数倍三角)
.triangle45(@size,@dira:left,@dirb:bottom,@color:#08c,@blankColor:transparent){
	border: @blankColor solid @size/2;
	border-@{dira}-color:@color;
	border-@{dirb}-color:@color;
	line-height: 0;
	font-size: 0;
	._size(0);
}
//----形成三角

._icon(@size, @src:none){
	._icon(@size, @size, @src);
}
._icon(@width,@height,@src){
	@ssrc:e(@src);
	@url:~`"@{ssrc}"=="none"?"none":("url("+ "@{ssrc}" +")")`;
	background-image: @url; ._size(@width,@height);
	&:extend(.__icon); &:extend(.iblock);
}
.__icon{background-repeat: no-repeat; background-position: 50% 50%;}


//半透明背景，兼容ie
.bgcolor_alpha(@bgcolor: rgba(0,0,0,.5)){
	color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr= argb(@bgcolor), endColorstr=argb(@bgcolor));
	background-color:@bgcolor;
}


// 不可见，但是仍可以加载
.v_hidden(){
	position: absolute;
	clip:rect(1px 1px 1px 1px);//ie6/7
	clip:rect(1px, 1px, 1px, 1px);//standard
}






//用来生一个宽度序列
//参数1 @main_w有三种形式
//  形式1:1000px              表示总宽度为1000,单元格间距为0
//  形式2:1000px 12px         表示总宽度为1000,单元格间距为12px，无两边空白
//  形式3:1000px _12px        表示总宽度为1000,单元格间距为12px，两边有空白
//参数2 @col_width_list 传入1-(n-1)各单元格宽度,最后一个单元格宽度由计算获得
//举例 .row1{.gen_grid(1000px 10px,60px,100px,90px,88px, 180px); >*{.iblock};}
.gen_grid(@main_w__gap,@col_width_list){
	@leng:length(@col_width_list);

	//分析第一参数
	@p_list:`(function(index){
		index = index || 0;
		var para = "@{main_w__gap}".replace(/\[|\]|,/g,"");
		var leng = @{leng};
		var ar = para.split(" ");
		ar[1] = ar[1] || "0px";
		var main_w = ar[0];
		var gap_w=ar[1].replace(/^_|\-/,"");
		if(/^\_/.test(ar[1])){
			leng = leng + 2;
		}else{
			leng = leng;
		}
		var resultList = [main_w, gap_w,leng];
		return resultList[index-1];
	})`;

	//提取参数1的定义
	@main_w:~`@{p_list}(1)`;
	@gap_w:~`@{p_list}(2)`;
	@gap_num:~`@{p_list}(3)`;


	//计算最后一个单元格宽度
	@last_w:~`(function(){
		var arg = eval("@{col_width_list}".replace(/px/g,""));
		var main_w = parseInt("@{main_w}");

		var gap_num = @{gap_num};
		var gap_w = parseInt("@{gap_w}");
		var w=0;

		//只有两列的情况
		if(arg.length === undefined) arg = [arg];

		arg.map(function(n){
			w+=n;
		});

		var lstw = (main_w - w - gap_num*gap_w);
		bindvar("gd.lastw",lstw);
		return lstw;
	})()`;




	width:~`(function(){
		var main_w = parseInt("@{main_w}");
		var gap_num = @{gap_num};
		var leng = @{leng};
		var gap_w = parseInt("@{gap_w}");


		if(gap_num>leng){
			return (main_w - gap_w) + "px; padding-left:" + gap_w + "px";
		}else{
			return main_w + "px";
		}
	})()`;


	//定义循环
	.gen_grid_loop(@times,@paras) when(@times >0){
		.gen_grid_loop(@times - 1, @paras);
		>.cell-@{times}{
			width: extract(@paras,@times);
			margin-right: @gap_w;
		}
	}

	//生成1-(n-1)的宽度
	.gen_grid_loop(@leng , @col_width_list);

	//生成n的宽度
	@leng_p1:@leng+1;
	>.cell-last,>.cell-@{leng_p1}{
		width:unit(@last_w,px);
	}

	//消除间隔
	font-size: 0;
	//white-space: normal;

	//对单元格的一些公共设置
	>*{
		&:extend(.iblock); font-size: @fsize;
	}
}

.gen_grid_line(@main_w__gap,@col_width_list){
	.gen_grid(@main_w__gap,@col_width_list);
	white-space: nowrap;
	>*{white-space: normal;}
}


//ie上需要垂直居中时候，字体大小和容器高度的比率
@ie7_vm_ratio:0.905;

